.product-mini-item {
  padding: 20px 15px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  .product-img {
    width: 100px;
    margin-right: 10px;
    img {
      border: 0;
      max-width: 100%;
      height: auto;
    }
  }
  .product-info {
    width: calc(100% - 110px);
    h3 {
      margin-top: 0;
      font-size: 14px;
      font-weight: 400;
      a {
        color: #444;
      }
    }
    .price-box {
      border: none;
      margin-top: 7px;
      .price {
        display: block;
        .product-price {
          font-size: 16px;
          font-weight: 700;
          font-family: arial, sans-serif;
          color: var(--green-color);
        }
      }
      .old-price{
        font-family: arial,sans-serif;
        font-size: 12px;
        margin-left: 0;
        color: #acacac;
      }
    }
  }
}
