.main-cart-page {
  .header-cart {
    .title {
      font-size: 30px;
      font-weight: bold;
      color: #323c3f;
      letter-spacing: 0.01em;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .cart-page {
      form {
        .b-scroll {
          margin-top: 20px;
          overflow: hidden;
          border: solid 1px #ebebeb;
          border-top: none;
          border-bottom: none;
          border-right: none;
          .cart-thead {
            font-weight: bold;
            font-size: 13px;
            clear: both;
            width: 100%;
            border: 1px solid #ebebeb;
            border-right: none;
            border-left: none;
            float: left;
            min-width: 600px;
            div {
              font-weight: 400;
              float: left;
              padding: 9px 0px;
              background: #fff;
              color: #636363;
              text-align: center;
              border-right: #ebebeb 1px solid;
              font-size: 14px;
              .nobr {
                white-space: nowrap;
              }
            }
          }
          .cart-tbody {
            width: 100%;
            .item-cart {
              border-bottom: 1px solid #ebebeb;
              width: 100%;
              float: left;
              div {
                float: left;
                padding: 10px;
                line-height: 20px;
                vertical-align: top;
                height: 135px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                border-right: solid 1px #ebebeb;
              }
              .product-image {
                min-height: 75px;
                display: block;
                height: auto;
                width: 100%;
                padding: 0 20px;
                img {
                  max-width: 100%;
                  height: auto;
                  max-height: 98px;
                  width: auto;
                  display: inherit;
                  margin: 0 auto;
                }
              }
              .product-name {
                margin: 0px;
                padding-bottom: 0px;
                font-size: 14px;
                color: #363636;
                font-weight: normal;
                line-height: 24px;
              }
              .item-price {
                .price {
                  font-size: 14px;
                  font-family: "Arial", sans-serif;
                  font-weight: bold;
                  line-height: 6;
                  color: #000;
                }
              }
              .input_qty_pr {
                height: auto;
                padding: 0px;
                border-right: none;
                width: 100%;
                display: flex;
                justify-content: center;
                input {
                  display: inline-block;
                  width: auto;
                  width: 70px;
                  border: 1px solid #ddd;
                  text-align: center;

                }
                button {
                  border-top-left-radius: 3px;
                  border-bottom-left-radius: 3px;
                  border: 1px solid #ddd;
                  outline: none;
                  background: #fff;
                  height: 30px;
                  width: 30px;
                  line-height: 30px;
                  text-align: center;
                  vertical-align: top;
                  padding: 0;
                }
              }
              .remove-item-cart {
                position: relative;
                border: none;
                cursor: pointer;
                button {
                  width: 22px;
                  height: 26px;
                  display: block;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
                }
              }
            }
          }
          .shopping-cart-table-total {
            width: 100%;
            padding-bottom: 8px;
            background: #fff;
            max-width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            padding: 0px 0 15px;
            margin-top: 0;
            margin-right: 1px;
            border: solid 1px #ebebeb;

            tfoot {
              tr {
                .a-right {
                  padding: 20px;
                  padding-right: 0px;
                  width: 145px;
                  line-height: 24px;
                  border: none;
                  border-left: 1px solid #ebebeb;
                  font-family: "Open+Sans", "HelveticaNeue", "Helvetica Neue",
                    sans-serif;
                  text-align: right !important;
                  &:nth-child(2) {
                    padding-right: 35px;
                    border-left: none !important;
                    border-right: 1px solid #ebebeb;
                    strong {
                      span {
                        color: #000;
                        font-size: 16px;
                        font-weight: bold;
                        font-family: "Arial", sans-serif;
                      }
                    }
                  }
                }
              }
            }
          }
          .checkout {
            clear: left;
            border-top: 1px solid #ebebeb;
            margin-bottom: 30px;
            float: right;
            width: 100%;
            li {
              a {
                display: block;
                background: #3d4356;
                float: right;
                margin: 20px 10px 0 0 !important;
                display: inline-block;
                min-width: 200px;
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                height: 40px;
                line-height: 40px;
                color: #fff;
                font-family: "Arial", sans-serif;
                padding: 0 20px;
                text-align: center;
                white-space: nowrap;
                outline: none !important;
                border-radius: 3px;
                cursor: pointer;
                border: none;
              }
              .btn-proceed-checkout {
                background: #000;
                border: 1px solid #000;
                color: #fff;
                &:hover {
                  background: #fff;
                  color: #000;
                }
              }
            }
          }
        }
      }
    }
  }
}
