.css-1d3f8j8-MuiButtonBase-root-MuiButton-root {
    min-width: 0!important;
}
.css-10fi992-MuiButtonBase-root-MuiButton-root{
    min-width: 0!important;
}
.css-1lg55su-MuiButtonBase-root-MuiButton-root{
    min-width: 0!important;

}
.add-product_icon{
    // margin: 15px 0 20px 15px;
    background: var(--blue-color);
    color: var(--white2-color);
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 14px;
    font-family: roboto, helveticaneue, helvetica neue, sans-serif;
    border: 1px solid transparent;
    display: inline-block;
    height: 40px;
    line-height: 39px;
    padding: 0 20px;
    text-align: center;
    white-space: nowrap;
    font-weight: 400;
}