.left-content-pros {
  margin-bottom: 30px;

  .aside-item {
    margin-bottom: 20px;
    .title {
      h3 {
        height: 40px;
        width: 100%;
        font-size: 16px !important;
        line-height: 42px;
        margin: 0;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        padding: 0;
        position: relative;
      }
    }
    .content {
      margin-top: 10px;
      padding-top: 10px;
      .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked{
        color: var(--green-color);
      }
    }
  }
  button {
    height: 30px;
    font-weight: 400;
    width: 100px;
    background-color: var(--green-color);
    color: var(--white2-color);
    border-radius: 3px;
    font-size: 14px;
    border: 1px solid var(--green-color);
    outline: none !important;
    padding: 5px 20px;
    margin-top: 15px;
    display: block;
    text-align: center;
    &:hover {
      background-color: var(--white2-color);
      color: var(--green-color);
    }
  }
}
.main-content-pros {
  .sortPagiBar {
    margin-bottom: 15px;
    .title-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        display: inherit;
        font-size: 18px;
        font-weight: 700;
        text-transform: none;
        line-height: 30px;
        color: #444;
        margin-bottom: 10px;
      }
    }
  }
}
.css-194ccxm-MuiInputBase-root-MuiInput-root-MuiSelect-root:after{
  border-bottom: 2px solid var(--black2-color) !important;
}