.new-product {
    margin-top: 100px;
  }
  .createProductFormImage {
    margin-top: 10px;
    display: flex;
    width: 100%;
    img {
      width: 100px;
      height: 100px;
    }
  }
  .label-hinhanh {
    &::after {
      content: ":";
      position: relative;
      top: -0.5px;
      margin: 0 8px 0 2px;
    }
    &::before{
      display: inline-block;
      margin-right: 4px;
      color: #ff4d4f;
      font-size: 14px;
      font-family: SimSun,sans-serif;
      line-height: 1;
      content: "*";
    }
  }
  